/*font declarations*/
$mo-regular: 'Montserrat-Regular';
$mo-medium: 'Montserrat-Medium';
$mo-semibold: 'Montserrat-SemiBold';
$mo-light: 'Montserrat-Light';
$mo-bold: 'Montserrat-Bold';
$ds-regular: 'DancingScript-Regular';
$ds-medium: 'DancingScript-Medium';
$ds-semibold: 'DancingScript-SemiBold';
$ds-bold: 'DancingScript-bold';

/*default colors*/
$black: #000;
$white: #fff;