/*font declarations*/
$mo-regular: 'Montserrat-Regular';
$mo-medium: 'Montserrat-Medium';
$mo-semibold: 'Montserrat-SemiBold';
$mo-light: 'Montserrat-Light';
$mo-bold: 'Montserrat-Bold';
$ds-regular: 'DancingScript-Regular';
$ds-medium: 'DancingScript-Medium';
$ds-semibold: 'DancingScript-SemiBold';
$ds-bold: 'DancingScript-Bold';

/*default colors*/
$black: #000;
$white: #fff;
$nav-hover: #e31b6d;
$nav-background: #1b242f;
$nav-border: #04c2c9;
$dark-mode: #121212;
$darkmode-text-color: rgba(256,256,256,0.87);
$footer-background: #1b242f;
$background: #262a34;
$grey: grey;
$darkmode-text-color-2:rgba(256, 256, 256, 0.67)