<nav class="header" (window:resize)="resize()">
    <ul>
        <li *ngFor = "let header of headersList" [routerLink]="[header.navigate]" [routerLinkActiveOptions]="{exact: true}">
            <span *ngIf="!mobileView" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{header.label}}</span>
            <i *ngIf="mobileView" class="{{header.icon}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></i>
        </li>
    </ul>
    <ul *ngIf="!mobileView">
        <li *ngFor = "let social of socialProfiles" class="social-profiles">
            <a href="{{social.link}}" target="_blank">
                <i class={{social.icon}}></i>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</nav>
