@import "../../../assets/scss/variable";

.contact {
  width: 75%;
  margin: 0 auto 50px auto;
  text-align: center;
  > div {
    padding-top: 70px;
    > p {
      width: 100%;
      text-align: center;
      > span {
        text-transform: uppercase;
        font-size: 28px;
        border-bottom: 5px solid $nav-hover;
      }
    }
    > ul {
      width: 50%;
      display: block;
      margin: 35px auto 0 auto;
      > li {
        list-style-type: none;
        display: inline-block;
        padding: 15px;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
          i {
            color: $nav-hover;
          }
        }
        i {
          color: $white;
          font-size: 28px;
        }
      }
    }
    .send-message-container {
      width: 50%;
      margin: 10px auto 0 auto;
      input, textarea {
        background: #1e242c;
        border: 2px solid $grey;
        border-radius: 4px;
        box-sizing: border-box;
        color: $white;
        display: block;
        font-size: 12pt;
        margin-bottom: 10px;
        outline: none;
        padding: 10px 15px;
        width: 100%;
      }
      textarea {
        resize: vertical;
        min-height: 150px;
      }
      .send-button {
        background-color: $nav-hover;
        color: $white;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 4px;
        outline: 0;
        border: none;
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .contact {
    width: 75%;
    margin: 0 auto 90px auto;
    text-align: center;
    > div {
      padding-top: 15px;
      > p {
        width: 100%;
        text-align: center;
        > span {
          text-transform: uppercase;
          font-size: 28px;
          border-bottom: 5px solid $nav-hover;
        }
      }
      > ul {
        width: 100%;
        > li {
          list-style-type: none;
          padding: 10px;
          i {
            color: $white;
            font-size: 28px;
          }
        }
      }
      > div {
        margin-top: 15px;
        .fa-heart {
          color: $nav-hover;
        }
      }
      .send-message-container {
        width: 100%;
      }
    }
  }
}
