@import "../../../assets/scss/variable";

.about {
  width: 75%;
  margin: 0 auto;
  .about-me-section {
    > div {
      padding-top: 70px;
      &:nth-child(2) {
        display: inline-block;
        padding-right: 20px;
        width: calc(75% - 20px);
        > p {
          text-align: justify;
          font-size: 18px;
          padding: 15px 0 15px 0;
          line-height: 30px;
          font-family: $ps-light;
        }
      }
      &:nth-child(3) {
        display: inline-block;
        width: 25%;
        vertical-align: top;
      }
    }
  }
  img {
    width: 100%;
    padding-top: 15px;
  }
}

.header {
  text-align: center !important;
  > span {
    text-transform: uppercase;
    font-size: 28px;
    border-bottom: 5px solid $nav-hover;
  }
}

.skills {
  margin-top: 20px;
}

.resume {
  background-color: $nav-hover;
  color: $white;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  outline: 0;
  border: none;
  width: calc(100% - 30px);
}

.view-resume,
.download-resume {
  text-align: center;
}

.view-resume{
    display: inline-block;
}

.download-resume {
    width: 100%;
}

.text-decoration-none {
  text-decoration: none;
  color: $white;
}

@media screen and (max-width: 425px) {
  .about {
    .about-me-section {
      > div {
        padding-top: 0px;
        &:first-child {
          display: block;
          width: 100%;
          > p {
            font-size: 16px;
            padding: 15px 0 15px 0;
          }
        }
        &:nth-child(2) {
          display: block;
          width: 100%;
          > p {
            font-size: 16px;
            padding: 15px 0 15px 0;
            line-height: unset;
            word-spacing: unset;
            letter-spacing: unset;
          }
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .skills {
    > div {
      &:first-child {
        width: 100%;
      }
    }
  }

  .display-flex {
    display: flex;
  }

  .view-resume,
  .download-resume {
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 2px;
  }

  .view-resume {
      display: initial;
  }

  .download-resume {
      display: initial;
  }

  .resume {
    background-color: $nav-hover;
    color: $white;
    text-decoration: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    outline: 0;
    border: none;
    width: initial;
  }
}
